{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h3>
    <p>Добавить новую запись</p>

{% endblock %}

{% block content %}
    
  <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">Добавить запись</button>
    {% endbuttons %}
    
  </form>
    
{% endblock content %}